@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #afb1b8;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  /* полное обнуление маржина*/
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-nav,
.flex-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header .logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.page-header .blue {
  color: #2196f3;
}

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.page-nav .item {
  margin-right: 50px;
}

.page-nav .item:not(:last-child) {
  margin-right: 40px;
}

.page-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav .link:hover {
  color: #2196f3;
}

.page-nav .link.current {
  position: relative;
  color: #2196f3;
}

.link.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0px;
  left: 0px;
  background: #2196f3;
  border-radius: 2px;
}

.contacts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts-nav .item + .item {
  margin-left: 50px;
}

.contacts-nav .contacts-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus,
.contacts-link:hover svg {
  color: #2196f3;
}

.icon-envelope {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-smartphone {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-title {
  margin: 0 auto 30px auto;
  color: #ffffff;
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.87;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  letter-spacing: 0.06em;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-nav li {
  width: 270px;
}

.features-nav li {
  margin: 0 30px 0 0;
}

.features-nav li:nth-last-child(1) {
  margin: 0;
}

.features-flex .item + .item {
  margin-right: 30px;
}

.features-nav .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-nav .text {
  margin-top: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.icon-before::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.antenna::before {
  background-image: url("../images/antenna.svg");
}

.clock::before {
  background-image: url("../images/clock.svg");
}

.diagram::before {
  background-image: url("../images/diagram.svg");
}

.astronaut::before {
  background-image: url("../images/astronaut.svg");
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

.development {
  padding: 0 0 94px 0;
}

.development-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.development-nav li {
  margin: 0 30px 0 0;
}

.development-nav li:nth-last-child(1) {
  margin: 0;
}

.development-descr {
  position: relative;
}

.development-descr img {
  display: block;
}

.dev-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.team-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  text-align: center;
}

.team-list > li {
  margin: 0 30px 0 0;
  padding: 0;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  max-width: 270px;
}

.team-list > li:nth-last-child(1) {
  margin: 0;
  padding: 0;
}

.team-descr {
  margin-top: 30px;
  margin-bottom: 16px;
}

.team .title {
  color: secondary-text-color;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.social-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 32px 30px 32px;
  -webkit-transition: 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-nav li {
  padding: 0 5px;
}

.social-nav li:nth-child(1) {
  padding-left: 0;
}

.social-nav li:nth-child(4) {
  padding-right: 0;
}

.social-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-nav li a:hover,
.social-nav li a:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-nav li a svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-nav li a:hover svg,
.social-nav li a:focus svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.section.client {
  padding-top: 100px;
  padding-bottom: 94px;
}

.client-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-nav li {
  margin-right: 30px;
}

.client-nav li:nth-child(6) {
  margin-right: 0;
}

.client-nav li a {
  margin: 0;
  padding: 0;
  border-color: #2196f3;
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.client-nav li a svg {
  fill: #afb1b8;
  display: block;
  padding: 16px 32px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-nav li a:hover,
.client-nav li a:focus {
  border-color: #2196f3;
}

.client-nav li a:hover svg,
.client-nav li a:focus svg {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #2f303a;
}

.container.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .logo {
  font-family: Raleway;
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer .blue {
  color: #2196f3;
}

.footer .white {
  color: #ffffff;
}

.addr-nav {
  width: 231px;
  height: 81px;
  font-style: normal;
  margin-top: 20px;
}

.addr-nav .mail {
  display: inline-block;
  margin-bottom: 9px;
  color: #afb1b8;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}

.addr-nav .phone {
  display: inline-block;
  color: #afb1b8;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  margin-bottom: 9px;
}

.addr-nav .adress {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  margin: 0 0 9px 0;
}

.sign {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 20px;
}

.social-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer-adress {
  margin-right: 70px;
}

.social-item {
  margin-right: 10px;
}

.social-item:nth-last-child(1) {
  margin-right: 0;
}

.footer .icon-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff1a;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .sign-network {
  width: 20px;
  height: 20px;
  color: #ffffff;
}

.footer .icon-social:hover,
.icon-social:focus {
  background-color: #2196f3;
}

.sign-up {
  padding-left: 93px;
}

.sign-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sign-form input {
  width: 358px;
  margin: 0;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

.sign-form .sign-up-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.sign-pic {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

input:focus-visible,
textarea:focus-visible,
a:focus-visible,
button:focus-visible {
  outline: none;
}

.modal-button {
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
}

.modal-button:hover svg,
.modal-button:focus svg {
  fill: #2196f3;
}

.modal-button:focus-visible {
  outline: none;
}

.modal-close {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.js-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field input {
  padding-left: 42px;
  cursor: pointer;
}

.form-field input:hover,
.form-field textarea:hover {
  outline: none;
  border: 1px solid #2196f3;
}

.form-field input:focus,
.form-field textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-field:hover svg,
.form-field:focus svg,
.form-field:focus-within svg {
  fill: #2196f3;
}

.form-field label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.form-field.comment {
  margin-bottom: 20px;
}

.form-input:hover .form-input:focus .form-input:hover svg {
  color: #2196f3;
}

.form-input {
  margin: 0;
  padding: 11px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-pic {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 11px;
  left: 12px;
  fill: #212121;
}

.form-field textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.form-field ::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

.form-field :-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

.form-field ::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

.form-field ::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

.check-form {
  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.check-form input {
  width: 16px;
  height: auto;
  margin-right: 8px;
  border: 2px solid #212121;
}

.check-form .check-label input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}

.check-form .check-label input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: #ffffff;
}

.check-form .check-label input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.check-form .check-label input[type="checkbox"]:checked:before {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

.check-form .check-label input[type="checkbox"]:hover:after,
.check-form .check-label input[type="checkbox"]:focus:after {
  border: 2px solid #ffffff;
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.check-form a {
  color: #2196f3;
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid fill #212121;
}

.submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  border-radius: 4px;
}

.submit-btn:hover {
  cursor: pointer;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.project-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-element {
  width: 370px;
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-element:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-element .title,
.text {
  margin: 0;
}

.project-element .info > .text {
  margin-top: 4px;
}

.project-element:nth-child(3n) {
  margin-right: 0;
}

.project-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.info {
  padding: 20px 24px;
}

.project-nav a {
  text-decoration: none;
}

.project-nav .title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-nav .text {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.hidden-text {
  position: relative;
  overflow: hidden;
}

.project-link {
  width: 100%;
  text-decoration: none;
}

.project-img {
  display: block;
  width: 100%;
}

.accent-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  margin: 0;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.project-link:hover .accent-text,
.project-link:focus .accent-text {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.button-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.button-nav .list-nav {
  padding: 6px 22px;
}

.list-nav {
  height: 38px;
  margin-right: 8px;
  border: 0;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-nav .list-nav:hover,
.button-nav .list-nav:focus {
  background-color: #2196f3;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */